*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:black;
    display:flex;
    text-align:center;
    justify-content:center;
    flex-wrap:wrap;
    
}
h2{
    color:white;
    display:flex;    
    justify-content:center;
    align-item:center;
    gap:1.5vmin;
    margin:30px;
    background-color:red;
    
}

.game{
        height:60vmin;
        width:60vmin;
        background-color:center;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-item:center;
        gap:1.5vmin;
        background-color:blue;
}
.box{
    height:18vmin;
    width:18vmin;
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    justify-content:center;
    font-size:40px;
    border-radius:0.5rem;
    border-style:none;
    background-color:white;
    
}


